<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="config.properties"/>
    <context:component-scan base-package="com.nov21th.curry.sample.server"/>

    <bean id="serviceRegistry" class="com.nov21th.curry.registry.impl.ZooKeeperServiceRegistry">
        <constructor-arg name="zkAddress" value="${zookeeper.address}"/>
        <constructor-arg name="serviceRoot" value="${serviceRoot}"/>
    </bean>

    <bean id="rpcServer" class="com.nov21th.curry.server.RPCServer">
        <constructor-arg name="serverAddress" value="${server.address}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>